@import 'styles/globals.scss';

.container {
    width: $default-width;
    margin: $default-space auto;
    padding: $default-space;

    background-color: $clr-container;

    box-shadow: $box-shadow;
}
