$clr-container: #e2e2e2;

$clr-black: #202020;
$clr-white: #f1f1f1;
$clr-grey: #686868;
$clr-dark-grey: #292929;
$clr-light-grey: #acacac;

$clr-primary: #00ccff;
$clr-darker-primary: #0073c5;
$clr-dark-primary: #008df0;
$clr-light-primary: #68d2ff;

$default-width: 69vw;
$default-space: 1.25em;

$margin-center: 0 auto;

$box-shadow: 0px 0px 4px 2px #0003;
$border-radius: 6px;
